<div class="container-fluid">
  <h1 class="text-center my-3">
    {{user.role == ADMIN ? "Contatos" : "Seus contatos"}}
  </h1>

  <div *ngIf="contents.length">

    <!-- Pesquisar contatos -->
    <app-search
      (userParamsEvent)="setUserParams($event)"
      [isSearching]="isSearching"
    ></app-search>

    <!-- Contatos -->
    <div
      class="row my-3 mx-0 no-gutters justify-content-start"
      *ngIf="user.role === USER"
    >
      <app-card-contact
        *ngFor="let contact of contents; let i=index"
        class="card col-12 col-sm-6 col-md-4 col-lg-3 mb-2"
        [contact]="contact"
        (deleteContactEvent)="removeDeletedContact(i)"
      >
      </app-card-contact>
    </div>

    <!-- Adicionar contato -->
    <div
        class="card bg-secondary my-3 p-5"
        (click)="addContact()"
        *ngIf="user.role === USER"
      >
        <div class="card-body mx-auto">
          <div
            style="font-size: 5vw;"
            class="d-flex text-white align-items-center"
          >
            <i class="fa fa-plus" ></i>
          </div>
        </div>
    </div>

    <!-- Tabela de contatos para o admin -->
    <app-admin-contacts
      *ngIf="user.role === ADMIN"
      class="my-3"
      [users]="contents"
    >
    </app-admin-contacts>

    <!-- Paginação -->
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        <li
          class="page-item"
          [ngClass]="{disabled: currentPage == 0}"
          (click)="previous()"
        >
          <a class="page-link" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Anterior</span>
          </a>
        </li>
        <li
          class="page-item"
          *ngFor="let item of [].constructor(totalPages); let i = index"
          [ngClass]="{active: i == currentPage}"
          (click)="setPage(i)"
        >
          <a class="page-link" >{{i+1}}</a>
        </li>

        <li
          class="page-item"
          [ngClass]="{disabled: currentPage == totalPages-1}"
          (click)="forward()"
        >
          <a class="page-link" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <!-- Nenhum contato encontrado -->
  <div
    class="mx-3"
    *ngIf="!contents.length && !isLoadingContacts && USER"
  >
    <h3 class="text-muted">Nenhum contato foi encontrado. Por favor, registre um contato.</h3>
  </div>

  <!-- Spin Loading contacts -->
  <div
    *ngIf="isLoadingContacts"
  >
    <div class="d-flex ">
      <div class="mx-auto">
        <i
          style="font-size: 20vw;"
          class="fa fa-spinner fa-pulse"></i>
      </div>
    </div>

  </div>

</div>
