<div class="mx-lg-5 mx-md-3 mx-sm-0">
  <h1 class="text-center my-3">Seus contatos</h1>

  <div *ngIf="contacts.length">
    <app-search
      (userParamsEvent)="setUserParams($event)"
      [isSearching]="isSearching"
    ></app-search>

    <div class="row">
      <app-card-contact
          class="d-flex col-lg-auto col-md-6 col-sm-12"
          *ngFor="let contact of contacts; let i=index"
          [contact]="contact"
          (deleteContactEvent)="removeDeletedContact(i)"
        >
        </app-card-contact>
        <div class="d-flex col-lg-auto col-md-6 col-sm-12">
          <div
            class="card card-width bg-secondary my-3 p-5"
            (click)="addContact()"
          >
            <div class="card-body mx-auto">
              <div
                style="font-size: 5vw;"
                class="d-flex text-white align-items-center"
              >
                <i class="fa fa-plus" ></i>
              </div>
            </div>
          </div>
        </div>
    </div>

    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        <li
          class="page-item"
          [ngClass]="{disabled: currentPage == 0}"
          (click)="previous()"
        >
          <a class="page-link" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Anterior</span>
          </a>
        </li>
        <li
          class="page-item"
          *ngFor="let item of [].constructor(totalPages); let i = index"
          [ngClass]="{active: i == currentPage}"
          (click)="setPage(i)"
        >
          <a class="page-link" >{{i+1}}</a>
        </li>

        <li
          class="page-item"
          [ngClass]="{disabled: currentPage == totalPages-1}"
          (click)="forward()"
        >
          <a class="page-link" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <div
    class="mx-3"
    *ngIf="!contacts.length && !isLoadingContacts"
  >
    <h3 class="text-muted">Nenhum contato foi encontrado. Por favor, registre um contato.</h3>
  </div>

  <div
    *ngIf="isLoadingContacts"
  >
    <div class="d-flex ">
      <div class="mx-auto">
        <i
          style="font-size: 20vw;"
          class="fa fa-spinner fa-pulse"></i>
      </div>
    </div>

  </div>

</div>
