<div class="mx-lg-5 mx-md-3 mx-sm-0">
  <h1 class="text-center my-3">Seus contatos</h1>

  <div *ngIf="contacts.length">

    <!-- Pesquisar contatos -->
    <app-search
      (userParamsEvent)="setUserParams($event)"
      [isSearching]="isSearching"
    ></app-search>

    <!-- Contatos -->
    <div class="card-deck my-3 justify-content-between">
      <ng-container *ngFor="let contact of contacts; let i=index">
        <div
          class="w-100 d-none d-sm-block d-md-none my-2"
          *ngIf="(i % 2) == 0"
        ><!-- wrap every 2 on sm--></div>
        <div
          class="w-100 d-none d-md-block d-lg-none my-2"
          *ngIf="(i % 3) == 0"
        ><!-- wrap every 3 on md--></div>
        <div
          class="w-100 d-none d-lg-block d-xl-none my-2"
          *ngIf="(i % 4) == 0"
        ><!-- wrap every 4 on lg--></div>
        <div
          class="w-100 d-none d-xl-block my-2"
          *ngIf="(i % 5) == 0"
        ><!-- wrap every 5 on xl--></div>
        <app-card-contact
          class="card"
          [contact]="contact"
          (deleteContactEvent)="removeDeletedContact(i)"
        >
        </app-card-contact>
      </ng-container>
    </div>

    <!-- Adicionar contato -->
    <div
        class="card bg-secondary my-3 p-5"
        (click)="addContact()"
      >
        <div class="card-body mx-auto">
          <div
            style="font-size: 5vw;"
            class="d-flex text-white align-items-center"
          >
            <i class="fa fa-plus" ></i>
          </div>
        </div>
    </div>

    <!-- Paginação -->
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        <li
          class="page-item"
          [ngClass]="{disabled: currentPage == 0}"
          (click)="previous()"
        >
          <a class="page-link" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Anterior</span>
          </a>
        </li>
        <li
          class="page-item"
          *ngFor="let item of [].constructor(totalPages); let i = index"
          [ngClass]="{active: i == currentPage}"
          (click)="setPage(i)"
        >
          <a class="page-link" >{{i+1}}</a>
        </li>

        <li
          class="page-item"
          [ngClass]="{disabled: currentPage == totalPages-1}"
          (click)="forward()"
        >
          <a class="page-link" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <!-- Nenhum contato encontrado -->
  <div
    class="mx-3"
    *ngIf="!contacts.length && !isLoadingContacts"
  >
    <h3 class="text-muted">Nenhum contato foi encontrado. Por favor, registre um contato.</h3>
  </div>

  <!-- Spin Loading contacts -->
  <div
    *ngIf="isLoadingContacts"
  >
    <div class="d-flex ">
      <div class="mx-auto">
        <i
          style="font-size: 20vw;"
          class="fa fa-spinner fa-pulse"></i>
      </div>
    </div>

  </div>

</div>
