
<div class="container mt-3">
  <h1>Registrar</h1>
  <form [formGroup]="signupForm" (submit)="$event.preventDefault(); signup()">
    <div class="form-group">
      <label for="name">
        Nome
        <span
          class="text-danger"
          *ngIf="signupForm.get('name').errors?.required"
        >
          *
        </span>
      </label>
      <input
        type="text"
        id="name"
        formControlName="name"
        class="form-control"
      >
    </div>
    <div class="form-group">
      <label for="email">
        E-mail
        <span
          class="text-danger"
          *ngIf="
            signupForm.get('email').errors?.required ||
            signupForm.get('email').errors?.email
          "
        >
          *
        </span>
      </label>
      <input
        type="email"
        id="email"
        formControlName="email"
        class="form-control"
      >
    </div>
    <div class="form-group">
      <label for="password">
        Senha
        <span
          class="text-danger"
          *ngIf="signupForm.get('password').errors?.required"
        >
          *
        </span>
      </label>
      <div class="input-group">
        <input
          type="password"
          id="password"
          *ngIf="passwordHidden"
          formControlName="password"
          class="form-control"
        >
        <input
          type="text"
          id="password"
          *ngIf="!passwordHidden"
          formControlName="password"
          class="form-control"
        >
        <div class="input-group-append">
          <i
            class="input-group-text pt-2 fa"
            [ngClass]="{'fa-eye-slash': passwordHidden, 'fa-eye': !passwordHidden}"
            aria-hidden="true"
            (click)="passwordHidden = !passwordHidden"
          >
          </i>
        </div>
      </div>

    </div>
    <div class="form-group">
      <label for="confirmPassword">
        Confirmar Senha
        <span
          class="text-danger"
          *ngIf="signupForm.get('confirmPassword').errors?.required"
        >
          *
        </span>
        <i
          class="fa"
          [ngClass]="{
            'fa-check': !signupForm.errors?.checkPassword && !signupForm.get('confirmPassword').errors?.required,
            'text-success': !signupForm.errors?.checkPassword ,
            'text-danger': signupForm.errors?.checkPassword,
            'fa-times': signupForm.errors?.checkPassword
          }"
        ></i>
      </label>
      <div class="input-group">
        <input
          type="password"
          id="confirmPassword"
          *ngIf="confirmPasswordHidden"
          formControlName="confirmPassword"
          class="form-control"
        >
        <input
          type="text"
          id="password"
          *ngIf="!confirmPasswordHidden"
          formControlName="confirmPassword"
          class="form-control"
        >
        <div class="input-group-append">
          <i
            class="input-group-text pt-2 fa"
            [ngClass]="{'fa-eye-slash': confirmPasswordHidden, 'fa-eye': !confirmPasswordHidden}"
            aria-hidden="true"
            (click)="confirmPasswordHidden = !confirmPasswordHidden"
          >
          </i>
        </div>
      </div>

    </div>
    <button
      type="submit"
      class="btn btn-primary btn-block"
      [disabled]="isRegistering || signupForm.invalid"
    >
      Registrar-se
      <i *ngIf="isRegistering" class="fa fa-spinner fa-pulse"></i>
    </button>
  </form>
</div>
