  <!-- Tabela de contatos -->

<table
  class="table-bordered table-responsive w-100 d-md-table my-3"
  style="font-size: 1.3rem;"
>
  <thead>
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>E-mail</th>
      <th>Role</th>
      <th>Nº Contatos</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.role}}</td>
      <td>{{user.contacts}}</td>
    </tr>
  </tbody>
</table>
