<div
  class="container mt-3"
>
  <div class="d-block mb-5 bg-light">
    <div class="d-block d-lg-flex align-items-center">
      <img class="img-fluid" src="assets/img/agenda.png" height="300vh" width="300vw" alt="agenda">
      <div class="d-block">
        <h1>Agenda</h1>
        <h4>Sistema de gerenciamento de contatos</h4>
      </div>
    </div>
  </div>
  <div class="d-block mb-5 bg-light">
    <div class="d-block d-lg-flex align-items-center">
      <img class="img-fluid" src="assets/img/cadastrarContato.jpg" height="300vh" width="500vw" alt="Listar Contatos">
      <div class="d-block">
        <h3>Cadastre seus contatos</h3>
        <h4>Tenha seus amigos salvos em sua agenda!</h4>
      </div>
    </div>
  </div>
  <div class="d-block mb-5 bg-light">
    <div class="d-block d-lg-flex align-items-center">
      <img class="img-fluid" src="assets/img/listarContatos.jpg" height="300vh" width="500vw" alt="Dispositivo Móvel">
      <div class="d-block">
        <h3>Gerencie seus contatos</h3>
        <h4>Edite, exclua ou pesquise de forma inteligente seus contatos.</h4>
      </div>
    </div>
  </div>
  <div class="d-block mb-5 bg-light">
    <div class="d-block d-lg-flex align-items-center">
      <img class="img-fluid"  src="assets/img/mobile.png" height="300vh" width="500vw" alt="Cadastrar Contato">
      <div class="d-block">
        <h3>Use no dispositivo móvel</h3>
        <h4>Acesse sua agenda por onde quiser!</h4>
      </div>
    </div>
  </div>

</div>
