<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <!-- Imagem da agenda -->
  <span class="navbar-brand cursorPointer" [routerLink]="['']">
    <img class="img-fluid" src="assets/img/agenda.png" height="50vh" width="50vw" alt="Agenda" title="Agenda">
  </span>

  <!-- Username -->
  <ul class="navbar-nav ml-auto align-items-center">
    <li
      class="nav-item mx-3 disappear-in-large-screen"
      *ngIf="isLogged && user"
    >
      <h6>{{user.sub | username}}</h6>
    </li>
  </ul>

  <!-- Menu -->
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">

    <!-- Cadastrar e Listar Contatos -->
    <ul
      class="navbar-nav align-items-center"
      *ngIf="isLogged"
    >
      <li
        class="nav-item"
        routerLinkActive="active"
      >
        <span
          class="nav-link cursorPointer"
          [routerLink]="['/', 'contacts']"
        >
          Listar Contatos
        </span>
      </li>
      <li
        class="nav-item"
        routerLinkActive="active"
        *ngIf="user.role === 'ROLE_USER'"
      >
        <span
          class="nav-link cursorPointer"
          [routerLink]="['/', 'contacts', 'register']"
        >
          Cadastrar Contato
        </span>
      </li>
    </ul>

    <!-- Registrar e Login -->
    <ul
      class="navbar-nav ml-auto align-items-center"
      *ngIf="!isLogged"
    >
      <li
        class="nav-item"
        routerLinkActive="active"
      >
        <button
          class="btn btn-info"
          [routerLink]="['/', 'signup']"
        >
          Registrar-se
        </button>
      </li>
      <li
        class="nav-item"
        routerLinkActive="active"
      >
      <button
        class="btn btn-primary ml-2"
        [routerLink]="['/', 'signin']"
      >
        Fazer login
      </button>
      </li>
    </ul>

    <!-- Logout e username -->
    <ul
      class="navbar-nav ml-auto align-items-center"
      *ngIf="isLogged"
    >
      <li
        class="nav-item mx-3 disappear-in-small-screen"
        *ngIf="user"
      >
        <h6>{{user.sub | username}}</h6>
      </li>
      <li class="nav-item">
        <button
          class="btn btn-warning"
          (click)="logout()"
        >
          Fazer logout
        </button>
      </li>
    </ul>
  </div>
</nav>
