

<form [formGroup]="searchForm">
  <div class="form-group">
    <input
      formControlName="search"
      class="form-control"
      type="text"
      placeholder="Procure pelo nome, e-mail ou telefone [Enter]"
      (keydown.enter)="$event.preventDefault(); searchContacts()"
    >
  </div>

  <div class="form-group d-flex justify-content-between" >
    <div>
      <input
        class="form-control"
        formControlName="linesPerPage"
        type="number"
        id="linesPerPage"
        (keydown.enter)="$event.preventDefault(); searchContacts()"
        placeholder="N° por Pág: 10"
      >
    </div>

    <div>
      <select
        class="form-control"
        name="orderBy"
        formControlName="orderBy"
        (keydown.enter)="$event.preventDefault(); searchContacts()"
      >
        <option value="name">Nome</option>
        <option value="phone">Telefone</option>
        <option value="email">E-mail</option>
      </select>
    </div>
    <p ></p>
    <div>

      <select
        class="form-control"
        name="sortBy"
        id="sortBy"
        formControlName="sortBy"
        (keydown.enter)="$event.preventDefault(); searchContacts()"
      >
        <option value="ASC">A-Z</option>
        <option value="DESC">Z-A</option>
      </select>
    </div>
  </div>
  <button
    class="btn btn-primary btn-block"
    (click)="searchContacts()"
    [disabled]="isSearching"
  >
    Pesquisar
    <i *ngIf="isSearching" class="fa fa-spinner fa-pulse"></i>
  </button>
</form>

