<div class="mx-5">
  <h1 class="text-center my-3">Cadastrar contato</h1>

  <form [formGroup]="registerForm" (ngSubmit)="$event.preventDefault(); register()">
    <div class="form-group">
      <label for="name">*Nome:</label>
      <input
        formControlName="name"
        type="text"
        class="form-control"
        placeholder="Nome"
      >
    </div>
    <div class="form-group">
      <label for="phone">*Telefone:</label>
      <input
        type="text"
        class="form-control"
        formControlName="phone"
        placeholder="Telefone celular ou residencial"
        adaptativePhoneMask
      >
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input
        type="email"
        class="form-control"
        formControlName="email"
        aria-describedby="emailHelp"
        placeholder="Email"
      >
    </div>
    <button
      type="submit"
      class="btn btn-primary my-3"
      [disabled]="registerForm.invalid || registerForm.pending || isRegistering"
    >
      Cadastrar
      <i *ngIf="isRegistering" class="fa fa-spinner fa-pulse"></i>
    </button>
  </form>
</div>

